/*creating screen size*/
body {
  height: 1000vh;
  width: 1000vw;
}

/*styling toolbar*/
#tools {
  height: 10%;
  width: 100%;
  position: fixed;
  margin: 0px;
  z-index: 1;
}
.color {
  font-size:24px;
  position:absolute;
}
.choices {
  float: left;
  width: 5%;
  position: relative;
  padding-top: 1%;
}

/*setting up canvas*/
#canvas{
  top:0px;
  left:0px;
  width:1000vw;
  height:1000vh;
  background-color: #FFFEF2;
}

/*text styling*/
.text {
font-family: aesthet-nova, serif;
font-weight: 400;
font-style: normal;
font-size: 20pt;
padding-left: 1%;
}
#erase{
  font-size: 15pt;
  line-height: 100%;
  font-family: aesthet-nova, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15pt;
  padding-left: 1%;
  padding-top: 1.25%;
  text-align: center;
}

/*styling download button*/
#download {
  font-family: aesthet-nova, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  border: none;
  background-color: transparent;
}

/*styling 'paintbrush' cursor*/
.cursor{
  opacity: 50%;
}

/*custom scrollbars*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: url('cursor_back.png');
}

::-webkit-scrollbar-thumb {
  background: url('cursor.png'); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: green; 
}

/*setting up for smaller screens*/
@media only screen and (max-width: 500px) {
.text {
font-size: 10pt;
}
#erase{
  font-size: 5pt;
  padding-top: 2%;
}
#download {
  font-size: 10pt;
}





